*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

header section.branding {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 30px;
}

header section.branding img {
    height: 48px;
    width: 48px;
}

header section.branding h1 {
    font-size: 1.5rem;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-right: 15px;
    flex-direction: row;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
}

header nav ul li a:hover {
    background-color: #ffffff88;
    border-radius: 5px;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
        align-items: stretch;
        gap: 0.5rem;
    }

    header section.branding {
        margin-left: 0;
        padding: 0.5rem 1rem;
        justify-content: flex-start;
    }

    header nav {
        width: 100%;
    }

    header nav ul {
        flex-direction: column;
        gap: 0;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    header nav ul li a {
        display: block;
        width: 100%;
        padding: 0.75rem 1rem;
        border-top: 1px solid rgba(255,255,255,0.08);
    }
}

main .hero-panel {
    width: 100%;
    height: 90vh;
    background-color: rgba(65, 65, 65, 0.728);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    gap: 1rem;
    text-align: center; 
}

main .hero-panel img {
    height: 30vh;
    max-width: 90%;
    object-fit: cover;
    display: block;
    box-shadow: 3px 3px 10px #000;
}

main .hero-panel h1 {
    color: white;
    font-size: 2.5rem;
    margin: 0;
    
}

main .hero-panel h2 {
    color: white;
    font-size: 1.5rem;
    margin: 0;
}

.container {
    padding: 0.75rem 1rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.card-holder {
    display:flex;
    flex-direction: column;
    gap:0.75rem;
}

.card {
    width: 300px;
    max-width: 300px;
    margin: 0px auto;
    border: 1px solid #eee;
    box-shadow: 3px 3px 5px #00000077;
    overflow:hidden;
    border-radius: 7px;
}

.card-header img {
    display: block;
    padding:0px;
    margin:0px;
    width:100%;
    height:220px;
    object-fit: cover;
}
.card-body {
    padding-bottom: 0.5rem;
    border-bottom: 1px #ccc solid;
    margin-bottom: 0.5rem;
}

.card-body strong {
    display: block;
    padding:0.75rem 0.5rem;
    margin-bottom: 0.5rem; /* trbl  top right bottom left  (top bottom) (right left) (trbl) */
    background-color: #630;
    color:#fff;
}

.card-body .price-tag{
    display:flex;
    padding:0.5rem;
    flex-direction: row;
    justify-content: flex-end;
    gap:1rem;
    align-items: center;
    border: 1px solid #000;
    margin-left:auto;
    width:fit-content;
    margin-right: 0.5rem;
    border-radius: 17px;
}
.card-footer {
    padding:0.5rem;
    padding-bottom: 1rem;
}
.card-footer button {
    display:block;
    border: 1px solid #000;
    box-shadow: 1px 1px 3px #00000077;
    background-color:#005928;
    color:#fff;
    border-radius: 9px;
    padding:0.75rem 1rem;
    margin-left:auto;
}



.grid {
    display:flex;
    flex-direction: column;
}
.grid .row {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.grid .row [class*='col-']{
    flex-shrink: 0;
    flex-grow: 0;
    min-width:0px;
}

.grid .row .col-1 { flex-basis: calc(100% / 12 * 1);}
.grid .row .col-2 { flex-basis: calc(100% / 12 * 2);}
.grid .row .col-3 { flex-basis: calc(100% / 12 * 3);}
.grid .row .col-4 { flex-basis: calc(100% / 12 * 4);}
.grid .row .col-5 { flex-basis: calc(100% / 12 * 5);}
.grid .row .col-6 { flex-basis: calc(100% / 12 * 6);}
.grid .row .col-7 { flex-basis: calc(100% / 12 * 7);}
.grid .row .col-8 { flex-basis: calc(100% / 12 * 8);}
.grid .row .col-9 { flex-basis: calc(100% / 12 * 9);}
.grid .row .col-10 { flex-basis: calc(100% / 12 * 10);}
.grid .row .col-11 { flex-basis: calc(100% / 12 * 11);}
.grid .row .col-12 { flex-basis: 100%;}


/* Media Queries */
@media (min-width:720px) {
    .grid .row .col-m-1 { flex-basis: calc(100% / 12 * 1);}
    .grid .row .col-m-2 { flex-basis: calc(100% / 12 * 2);}
    .grid .row .col-m-3 { flex-basis: calc(100% / 12 * 3);}
    .grid .row .col-m-4 { flex-basis: calc(100% / 12 * 4);}
    .grid .row .col-m-5 { flex-basis: calc(100% / 12 * 5);}
    .grid .row .col-m-6 { flex-basis: calc(100% / 12 * 6);}
    .grid .row .col-m-7 { flex-basis: calc(100% / 12 * 7);}
    .grid .row .col-m-8 { flex-basis: calc(100% / 12 * 8);}
    .grid .row .col-m-9 { flex-basis: calc(100% / 12 * 9);}
    .grid .row .col-m-10 { flex-basis: calc(100% / 12 * 10);}
    .grid .row .col-m-11 { flex-basis: calc(100% / 12 * 11);}
    .grid .row .col-m-12 { flex-basis: 100%;}
}

@media (min-width:1025px) {
    .grid .row .col-l-1 { flex-basis: calc(100% / 12 * 1);}
    .grid .row .col-l-2 { flex-basis: calc(100% / 12 * 2);}
    .grid .row .col-l-3 { flex-basis: calc(100% / 12 * 3);}
    .grid .row .col-l-4 { flex-basis: calc(100% / 12 * 4);}
    .grid .row .col-l-5 { flex-basis: calc(100% / 12 * 5);}
    .grid .row .col-l-6 { flex-basis: calc(100% / 12 * 6);}
    .grid .row .col-l-7 { flex-basis: calc(100% / 12 * 7);}
    .grid .row .col-l-8 { flex-basis: calc(100% / 12 * 8);}
    .grid .row .col-l-9 { flex-basis: calc(100% / 12 * 9);}
    .grid .row .col-l-10 { flex-basis: calc(100% / 12 * 10);}
    .grid .row .col-l-11 { flex-basis: calc(100% / 12 * 11);}
    .grid .row .col-l-12 { flex-basis: 100%;}
}

@media (min-width:1301px) {
    .grid .row .col-xl-1 { flex-basis: calc(100% / 12 * 1);}
    .grid .row .col-xl-2 { flex-basis: calc(100% / 12 * 2);}
    .grid .row .col-xl-3 { flex-basis: calc(100% / 12 * 3);}
    .grid .row .col-xl-4 { flex-basis: calc(100% / 12 * 4);}
    .grid .row .col-xl-5 { flex-basis: calc(100% / 12 * 5);}
    .grid .row .col-xl-6 { flex-basis: calc(100% / 12 * 6);}
    .grid .row .col-xl-7 { flex-basis: calc(100% / 12 * 7);}
    .grid .row .col-xl-8 { flex-basis: calc(100% / 12 * 8);}
    .grid .row .col-xl-9 { flex-basis: calc(100% / 12 * 9);}
    .grid .row .col-xl-10 { flex-basis: calc(100% / 12 * 10);}
    .grid .row .col-xl-11 { flex-basis: calc(100% / 12 * 11);}
    .grid .row .col-xl-12 { flex-basis: 100%;}

}