
        header {
            text-align: center;
            padding: 1rem;
            background-color: #222;
            color: #fff;
        }


        .carrusel {
            height:60vh;
            width:100vw;
            min-width:0;
            position: relative;
            overflow: hidden;
        }
        .carrusel-track {
            position: relative;
            display: flex;
            transition: transform 0.7s ease-in-out;
        }
        .carrusel-item {
            flex-shrink: 0;
            flex-grow: 0;
            position: relative;
            width:100vw;
            height:60vh;
            overflow: hidden;
        }
        .carrusel-item img {
            width:100%;
            height: 100%;
            object-fit: cover;
        }
        .carrusel-item div {
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            padding:5rem;
            border-radius: 17px;
            box-shadow: 3px 3px #000;
            background-color: #ffffffaa;
        }

        .carrusel-item  div:hover{
            box-shadow: 6px 6px #3773ff;
        }

        .carrusel-item h2:hover{
            box-shadow: none;
        }

        .carrusel_right, .carrusel_left {
            display:flex;
            justify-content: center;
            align-items: center;
            padding:3rem 1rem;
            font-weight: bold;
            background-color: #ffffffaa;
            position: absolute;
            z-index: 1000;
            font-size:2rem;
            box-shadow: 0px 0px 3px #000;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
        .carrusel_right {
            border-top-left-radius: 27px;
            border-bottom-left-radius: 27px;
            right:0px;
        }

        .carrusel_left {
            border-top-right-radius: 27px;
            border-bottom-right-radius: 27px;
            left:0px;
        }

        footer {
            text-align: center;
            padding: 1rem;
            background-color: #222;
            color: #fff;
            position: relative;
            bottom: 0;
            width: 100%;
        }

